@import '../../utils/mixins.scss';
@import '../../utils/breakpoints.scss';

/*Card Normal Mode*/
.card__container {
  position: relative;
  width: 350px;
  height: 350px;
  background-size: cover;

  .card__thumbs {
    @include thumbs(35%);
  }

  .card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    .card__wrapper {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 0 0.75rem 0 2.75rem;
      margin: 0;
      color: var(--color-white);

      .card__text {
        h2 {
          @include h2_text(35px);
        }

        p {
          font-size: 15px;
          @include p_text-clamp;
        }
      }
      .card__buttons {
        align-self: flex-end;

        p {
          font-size: 12px;
          font-weight: 700;
          text-align: right;
        }
        .card__buttons-group {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 1rem;

          button:disabled {
            @include disabled;
          }

          .card__button-thumbsUp {
            @include thumbsUp;
          }

          .card__button-thumbsDown {
            @include thumbsDown;
          }

          .card__button-vote {
            @include button-vote(var(--color-dark-gray));
          }
        }
      }
    }

    .card__gauge {
      color: var(--color-white);
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 36px;

      .card__gauge-empty {
        @include card__gauge-empty;
      }

      .card__gauge-positive {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 36px;
        width: 30%;
        background: var(--color-green-background);
        p {
          span {
            padding-right: 0.5rem;

            img {
              width: 15px;
              height: 17.5px;
            }
          }
          padding-left: 1rem;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .card__gauge-negative {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 36px;
        width: 70%;
        background: var(--color-orange-background);
        text-align: right;
        p {
          padding-right: 1rem;
          span {
            padding-right: 0.5rem;

            img {
              width: 15px;
              height: 17.5px;
            }
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

/*CARD LIST MODE*/

.card__container-list {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--color-dark-gray);
  background-position: 0%;
  margin-bottom: 1rem;

  .card__thumbs {
    @include thumbs(0);
  }

  .card__content {
    width: 100%;
    height: 100%;
    .card__wrapper {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .card__text {
        align-self: flex-start;
        margin-top: 1rem;
        color: var(--color-white);

        h2 {
          @include h2_text(2rem);
        }
        p {
          width: 540px;
          @include p_text-clamp;
        }
      }

      .card__buttons {
        flex: 0.6;
        text-align: right;
        align-self: flex-start;
        margin-right: 1rem;

        p {
          font-weight: 700;
          font-size: 0.8rem;
          color: var(--color-white);
        }

        .card__buttons-group {
          display: flex;
          justify-content: flex-end;
          gap: 1rem;

          button:disabled {
            @include disabled;
          }

          .card__button-thumbsUp {
            @include thumbsUp;
          }

          .card__button-thumbsDown {
            @include thumbsDown;
          }

          .card__button-vote {
            @include button-vote(rgba(48, 48, 48, 0.6));
          }
        }
      }
    }

    .card__gauge {
      position: absolute;
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      left: 0;
      bottom: 0;
      color: var(--color-white);

      .card__gauge-empty {
        @include card__gauge-empty;
      }

      .card__gauge-positive {
        height: 45px;
        background: var(--color-green-background);
        p {
          margin-left: 10px;
          span {
            margin-right: 10px;
          }
        }
      }

      .card__gauge-negative {
        text-align: right;
        height: 45px;
        background: var(--color-orange-background);
        p {
          margin-right: 10px;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/*SELECTED CLASSES*/

.button-selected {
  outline: 2px solid var(--color-white);
}

/*MEDIA QUERIES - LITTLE BREAKPOINTS*/

@include media(lg) {
  .card__container-list {
    .card__content {
      .card__wrapper {
        .card__text {
          flex: 0.3;
          p {
            width: 400px;
          }
        }

        .card__buttons {
          flex: 0.4;
        }
      }
    }
  }
}

@include media(md) {
  .card__container-list {
    .card__content {
      .card__wrapper {
        .card__text {
          flex: 0.3;
          p {
            width: 300px;
          }
        }
      }
    }
  }
}

@include media(s-md) {
  .card__container-list {
    .card__content {
      .card__wrapper {
        flex-direction: column;
        justify-content: flex-start;

        .card__text {
          align-self: flex-end;
          margin-right: 1rem;
          text-align: right;

          p {
            margin-bottom: 0;
            width: 55%;
            float: right;
          }
        }

        .card__buttons {
          align-self: flex-end;
        }
      }
    }
  }
}

@include media(sm) {
  .card__container {
    .card__content {
      width: 350px;
    }
  }
}

@include media(xs) {
  .card__container {
    .card__content {
      width: 300px;
    }
  }
}
