.voting__container {
  position: relative;
  width: 100%;

  .voting__container-grid {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .voting__header {
    h2 {
      margin: 0;
    }

    select {
      font-size: 1rem;
      width: 175px;
      height: 36px;
      text-align: center;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .voting__card-container {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .voting__container {
    .voting__header {
      select {
        display: none;
      }
    }

    .voting__card-container {
      display: flex;
      overflow-x: scroll;
      align-items: center;
      gap: 1rem;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
